---
import { Image } from "astro:assets";
import Button from "./Button.astro";
import check from "../../assets/check.svg";

interface Props {
  title: string;
  description: string;
  price: string;
  button: string;
  li: string[];
}

const { title, description, price, button, li } = Astro.props as Props;
---

<div class="bg-zinc-800/50 rounded-3xl p-8">
  <div class="flex flex-col space-y-3">
    <h3 class="text-slate-50 font-semibold text-2xl">{title}</h3>
    <p class="text-zinc-400">{description}</p>
  </div>
  <div class="flex py-6">
    <p class="text-4xl font-bold text-slate-50">
      {price}
      <span class="text-zinc-400 text-base">/month</span>
    </p>
  </div>
  <div class="flex border-b border-white/10 pb-8">
    <Button variant="pricing">{button}</Button>
  </div>
  <div class="flex mt-8">
    <ul class="space-y-4">
      {
        li.map((item) => (
          <li class="flex gap-3">
            <Image
              src={check}
              alt="check icon"
              width={16}
              height={16}
              class="invert"
            />
            <span class="text-zinc-400 text-sm">{item}</span>
          </li>
        ))
      }
    </ul>
  </div>
</div>
